// Font
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
$mainFont: 'Inter', Helvetica, Arial, sans-serif;

// Size
$mainFontColor: rgba(0, 0, 0, 0.7);
$mainFontSize: 160%;
$headerFontSize: 125%;
$grayColor: #D9D9D9;
$redColor: #EC4642;
$greenColor: #7AA148;
$greenBackgroundColor: #ECF7DE;
$green2BackgroundColor: #B3B9AB;


$lgDesktopWidth: 1400px;
$desktopWidth: 1280px;
$smDesktopWidth: 1024px;
$tableWidth: 768px;
$smTableWidth: 640px;
$phoneWidth: 480px;
$smPhoneWidth: 320px;